{% extends "base.html" %}

{% load i18n %}

{% block head_links %} 

<title>SPM | Sign In</title>

{% endblock %}

{% block head_title %}{% trans "Sign In" %} {% endblock %}
{% block extra %} {% include 'extra.html' %} {% endblock %}
{% block main_content %}
<div class="container-fluid">
<div class="container">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Please Sign In</h3>
              </div>
              <div class="panel-body">
                <form class="container-fluid text-center" id="login_form" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if form.errors %}
                            {% for field in form %}
                            <ul class='form-errors'>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        {% endif %}
                    <div class="form-group"><input class="form-control" type="email" name="login" placeholder="E-mail address" autocomplete="email" required id="id_login"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" autocomplete="current-password" required id="id_password"></div>
                    <div class="checkbox"><label><input type="checkbox" name="remember" id="id_remember">Remember Me</label></div>
                    
                      {% if redirect_field_value %}
                      
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      
                      {% endif %}
                      
                      <button  class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
                      <a class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>  
                    
                    </form>
              </div>
          </div>
      </div>
  </div>
</div>


    {% load account socialaccount %}

    {% get_providers as socialaccount_providers %}
    <ul class="social_providers_list">
    {% for provider in socialaccount_providers %}
        <a title="{{provider.name}}" class="btn btn-outline-dark" 
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name}}" id="social_icon"></i>{{provider.name}}</a>
    {% endfor %}
    </ul>
</div>
{% endblock %}
