{% extends "base.html" %}

{% load i18n %}
{% block head_links %} 

<title>SPM | Change Password</title>

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if form.errors %}
                            {% for field in form %}
                            <ul class='form-errors'>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group"><input class="form-control" type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required id="id_oldpassword"></div>
                        <div class="form-group"><input class="form-control" type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1"></div>
                        <div class="form-group"><input class="form-control" type="password" name="password2" placeholder="New Password (again)" required id="id_password2"></div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
